//variables
$navy-blue: #002C71;
$light-navy-blue: #8298B9;
$white: #ffffff;
$grey: #444444;
$orange: #FFA640;
$dark-green: #343E00;
$light-grey: #acacac;
$lighter-grey: #e6e6e6;
$black: #000;

//mixin
@mixin component-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@mixin radius {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
@mixin transition-duration {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@mixin wobble{
  -webkit-animation: wobble 700ms;
  -moz-animation: wobble 700ms;
  -ms-animation: wobble 700ms;
  -o-animation: wobble 700ms;
  animation: wobble 700ms;
}
@mixin box-shadow{
  -webkit-box-shadow: 0 0 4px 0 rgba($light-grey,0.50);
  -moz-box-shadow: 0 0 4px 0 rgba($light-grey,0.50);
  -ms-box-shadow: 0 0 4px 0 rgba($light-grey,0.50);
  -o-box-shadow: 0 0 4px 0 rgba($light-grey,0.50);
  box-shadow: 0 0 4px 0 rgba($light-grey,0.50);
}

//animation for share icon
@keyframes wobble {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  45% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
body{
  font-family: 'Source Sans Pro', sans-serif;
}
//main component
.component{
  width: 320px;
  position: relative;
  margin: 63px auto 140px auto;
  @include box-shadow;
  @include radius;
  border-radius: 5px;
  background: #fff;

  //navy blue top section
  .navy-section {
    width: 100%;
    height: 95px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background: $navy-blue;
  }

  //main user image
  .component__user-img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: -12px;
    left: 124px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
  }
}
//component with statisctics
.statistics{
  min-height: 235px;
  top: 36px;
  left: 19px;
  right: 19px;
  position: absolute;
  @include box-shadow;
  @include component-radius;
  text-align: center;
  background: $white;
  //share button
  .statistics__share-btn{
    width: 25px;
    height: 25px;
    right: 11.9px;
    top: 11.9px;
    position: absolute;
    cursor: pointer;
  }
  //tooltip to copy the website address
  .statistics__address{
    top: -97px;
    left: -13px;
    position: absolute;
    padding: 5px;
    color: $grey;
    font-size: 11px;
    line-height: 15px;
    @include transition-duration;
    border: 2px solid $navy-blue;
    @include radius;
    @include wobble;
    background-color: $white;
  }
  .statistics__address--hide{
    display: none;
  }
  //user name
  .statistics__user-name{
    margin-top: 38px;
    display: inline-block;
    font-family: "Oswald";
    font-size: 22px;
    color: $navy-blue;
    letter-spacing: 0;
  }
  //user adress
  .user-address{
    margin-top: 3px;
    font-size: 12px;
    color: $light-navy-blue;
    letter-spacing: 0;
  }
  //numers of likes, followers, following
  .statistics-info__number{
    font-size: 24px;
    color: $orange;
    letter-spacing: 0;
  }
  //signatures for numbers
  .statistics-info__signature{
    font-size: 10px;
    color: $dark-green;
    letter-spacing: 0;
    line-height: 29px;
  }
  //columns with numbers and signatures (for likes, following and followers)
  .statistics-info__likes,.statistics-info__following,.statistics-info__followers{
    float: left;
  }
  .statistics-info__following{
    margin-left: 32px;
    margin-right: 19px;
  }
  .statistics-info__likes{
    margin-left: 20px;
    margin-right: 18px;
  }
  .statistics-info__followers{
    margin-left: 23px;
  }
  .statistics-info{
    margin-top: 35px;
  }
  //separating line
  .statistics-info__line{
    height: 38px;
    float: left;
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    -ms-opacity: 0.1;
    -o-opacity: 0.1;
    opacity: 0.1;
    border: 1px solid $grey;
  }
  //heart as a button for likes
  .statistics__heart-btn{
    display: inline-block;
    width: 15px;
    height: 13.7px;
    display: inline;
    margin-left: 13px;
    cursor: pointer;
  }
}
.statistics__hide-heart{
  display: none;
}
//component that holds comments
.comments-component{
  overflow-x: hidden;
  max-height: 518px;
  margin-top: 200px;
  margin-left: 17px;
  margin-right: 17px;
  @include box-shadow;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  background: $white;
  //scroll
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    @include radius;
    background: rgba($black,.12);
  }
  &::-webkit-scrollbar-thumb {
    @include radius;
    background: rgba($black,.12);
  }
  //text with event for showing and hiding comments
  .comments-hide{
    margin-left: 68px;
    margin-top: 25px;
    font-size: 14px;
    color: $orange;
    letter-spacing: 0;
    cursor: pointer;
  }
  //user photo in the comments section
  .comment__img{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 20.5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
  //user name in the comments section
  .comment__name{
    margin-top: 30.5px;
    margin-left: 11px;
    margin-bottom: 1px;
    display: inline-block;
    font-size: 14px;
    color: $navy-blue;
    letter-spacing: 0;
  }
  //date in the comments section
  .comment__date{
    margin-top: 30.5px;
    margin-right: 27px;
    float: right;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-opacity: 0.5;
    -o-opacity: 0.5;
    opacity: 0.5;
    font-size: 14px;
    color: $navy-blue;
    letter-spacing: 0;
  }
  //comment content
  .comment__content{
    margin-left: 71px;
    margin-right: 36px;
    font-size: 14px;
    color: $grey;
    letter-spacing: 0;
    line-height: 21px;
  }
  //separating line
  .comments_line{
    width: 260px;
    margin-top: 19.5px;
    margin-bottom: 0;
    border: 1px solid $lighter-grey;
  }
  //first comment image
  :nth-child(2) .comment__img{
    margin-top: 30px;
  }
  //first comment name
  :nth-child(2) .comment__name{
    margin-top: 40px;
  }
  //first comment date
  :nth-child(2) .comment__date{
    margin-top: 40px;
  }
}
//follow button
.btn-style{
  width: 248px;
  height: 46px;
  margin-top: 21px;
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 14px;
  color: $white;
  letter-spacing: 4.2px;
  border: none;
  @include radius;
  @include transition-duration;
  background-color: $orange;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}
.btn-style--active{
  background-color: $navy-blue;
}
//section for adding a comment
.add-comment{
  width: 284px;
  min-height: 62.5px;
  left: 19px;
  position: absolute;
  @include box-shadow;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: $white;
  //input in the comment section
  .add-comment__input{
    margin-left: 25px;
    margin-top: 14.5px;
    padding-left: 3px;
    font-size: 18px;
    color: $light-navy-blue;
    letter-spacing: 0;
    border: none;
    border-bottom: 2px solid $light-grey;
    &:focus{
      outline: 2px solid $light-grey;
    }
  }
  //button to send a comment
  .add-comment__btn{
    width: 50%;
    height: 40px;
    margin-left: 25%;
    letter-spacing: 1px;
    &:hover{
      @include transition-duration;
      background-color: $navy-blue;
    }
  }
}
